
<h2>Editar novo produto</h2>
<hr />

<form name="frmEditar" ng-init="obterProdutoPorId();">
    
    <div class="form-group">
        <label for="exampleInputEmail1">Produto</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Nome do produto" autofocus
               name="nome" ng-model="produto.Nome" ng-required="true">
        <small id="emailHelp" class="form-text text-muted">Informe um nome apropriado para o produto.</small>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Produto</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Preço R$ ..."
               name="preco" ng-model="produto.Preco" ng-required="true">
        <small id="emailHelp" class="form-text text-muted">Informe o preço do produto.</small>
    </div>


    <a href="#!/produto" class="btn btn-warning">Todos Produtos</a>
    <button type="submit" class="btn btn-info"
            ng-disabled="frmEditar.$invalid" ng-click="editar(produto)">
        Salvar
    </button>
</form>