@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Áreas com ASP.NET - MVC</h1>
    <p class="lead">Esta aplicação é um modelo de como trabalhar com Áreas no Asp.Net utilizando o Identity como autenticação</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Definição</h2>
        <p>
            Áreas são um recurso do ASP.NET MVC usado para organizar as funcionalidades relacionadas em um grupo como um namespace separado (para o roteamento) e a estrutura de pasta (para modos de exibição). 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recursos de área</h2>
        <p>Um aplicativo MVC do ASP.NET Core pode ter qualquer número de áreas</p>
        <p>Cada área tem seus próprios controladores, modelos e modos de exibição</p>       
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mais recursos</h2>
        <p>Permite organizar projetos MVC grandes em vários componentes de alto nível que podem ser executados independentemente</p>
        <p>Oferece suporte a vários controladores com o mesmo nome - desde que eles têm diferentes áreas</p>
    </div>
</div>