<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>App Autenticao</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/App/libs/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/App/libs/css/loading-bar.min.css" rel="stylesheet" />
    <link href="~/App/css/site.css" rel="stylesheet" />

</head>
<body>   
    <div class="container" ng-show="loading">

        <div class="alert alert-info">
            <strong>Carregando...</strong>
            <div>Oi, espera só um pouquinho que já vamos começar!</div>
        </div>

    </div>
    <div class="container" ng-hide="loading">
        
        <h3>App Authentição Angular WebApi</h3>

        <div ng-include="'app/views/shared/nav.html'"></div>

        
        <ng-view></ng-view>
    </div>

    <!--LIBS-->
    <script src="~/App/libs/js/angular.min.js"></script>
    <script src="~/App/libs/js/angular-route.min.js"></script>
    <script src="~/App/libs/js/angular-local-storage.min.js"></script>
    <script src="~/App/libs/js/loading-bar.min.js"></script>
    <script src="~/App/libs/js/jquery-1.10.2.min.js"></script>
    <script src="~/App/libs/js/bootstrap.min.js"></script>
    <script src="~/App/libs/js/sweetalert.min.js"></script>


    <!--App Main-->
    <script src="~/App/js/app.js"></script>

    <!--Services-->
    <script src="~/App/js/services/produto.service.js"></script>
    <script src="~/App/js/services/conta.service.js"></script>
   

    <!--Configs-->
    <script src="~/App/js/config/appInterceptor.config.js"></script>
    <script src="~/App/js/config/homeRoute.config.js"></script>
    <script src="~/App/js/config/produtoRoute.config.js"></script>
    <script src="~/App/js/config/contaRoute.config.js"></script>
    <script src="~/App/js/config/errorRoute.config.js"></script>


    <!--Interceptors-->
    <script src="~/App/js/interceptors/error.interceptor.js"></script>
    <script src="~/App/js/interceptors/loading.interceptor.js"></script>
    <script src="~/App/js/interceptors/conta.interceptor.js"></script>

    <!--Controllers-->
    <script src="~/App/js/controllers/home.controller.js"></script>
    <script src="~/App/js/controllers/produto.controller.js"></script>
    <script src="~/App/js/controllers/conta.controller.js"></script>


</body>
</html>
