
@{
    ViewBag.Title = "Index";
}

<h2>DASHBOARD - Home da área Admin</h2>


@Html.ActionLink("Categorias", "Index", "Categorias", new { area = "Admin" }, new { @class = "btn btn-success" })
@Html.ActionLink("Produtos", "Index", "Produtos", new { area = "Admin" }, new { @class = "btn btn-info" })
  
<br />
<br />
 
<button class="btn btn-warning" onclick="TesteJSAdmin()"> Teste Js Admin</button>

<br />
<br />

<p class="admin-teste">
    Este é um teste Específico de css para a área admin.
</p>